html {
  height: 100%;
  width: 100%;
}

body {
  font-family: sans-serif;
}

#image {
  max-width: 100%;
  height: auto;
  margin: 1em auto 2em;
}

img {
  display: block;
}

.info {
  background-color: #eeeaef;
  display: grid;
  place-items: center;
  height: 8em;

}

.info,
.tribute,
.tribute-text {
  max-width: 100%;
  height: auto;
  margin: 1em auto 2em;
}

.tribute {
  width: 50%;
}

.tribute-text {
  justify-content: center;
}

.tribute-text li p {
  line-height: 25px;
}